body{
  	margin:0;
  	padding: 0;
	font-family: sans-serif;
}

#buttons{
	box-sizing: border-box;
	padding-top: 5px;
	padding-bottom: 5px;
  	background-color: grey;
  	position:relative;
  	height: 100px;
  	width: auto;
}

#buttons > button{
	float:left;
	display:block;
	margin:0;
	padding: 0;
	height: 100%;
	width: 20%;
}

#spriteBar{
	position: relative;
	float: left;
  	background-color: red;
  	width: 20%;
  	height: 850px;
}

#tabs{
	float:left;
  	background-color: green;
  	height: 50px;
  	width: 80%;
}

.tab{
	-webkit-user-select: none;
	padding: 5px;
	border:solid 2px green;
	background-color: yellow;
	display: block;
	float:left;
	height: 50px;
	width: auto;
	max-width: 200px;
	overflow: hidden;
}

.tab:active{
	background-color: orange;
}

.tab:hover{
	-webkit-box-shadow: inset 5px 6px 10px 1px rgba(0,0,0,0.78);
}

#mapDiv{
	box-sizing: border-box;
	padding: 1%;
	float: left;
  	background-color: blue;
  	width: 80%;
  	height: 800px;
}

#createMapWindow{
	box-sizing: border-box;
	padding-top: 15px;
	text-align: center;
	font-size: 150%;
	position: relative;
	left: 15%;
	top: 15%;
	width:	1000px;
	height: 500px;
	background-color: white;
}

#createMapWindow > button{
	width: 200px;
	height: 50px;
}

.Map{
	//background-color: black;
	overflow:visible;
}


.Map td{
	text-align: center;
	font-family: sans-serif;
	width: 60px;
	height: 60px;
	background-color: white;
}
